@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/** reset some default styles */
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/** some custom styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
:root {
  --primary-text-color: #3a3a3a;
  --secondary-text-color: #18191f;
  --third-text-color: #787885;
  --btn-color: #e02c6d;
}
.btn-primary {
  background-color: var(--btn-color);
  color: #fff;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/** header area styles */
.header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}
.menu-toggle {
  display: none;
}
.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #414040;
  margin-bottom: 3px;
  display: block;
  border-radius: 5px;
}
.mobile-cart {
  display: none;
}
.mobile-cart a {
  font-size: 1.6rem;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li a,
header ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text-color);
}
.logo h1 {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  font-weight: 700;
  font-style: normal;
}
/** banner area styles */
.banner-area {
  display: flex;
  margin: 3rem 0rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.banner-text {
  width: 50%;
}

.banner-img {
  width: 50%;
  background: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-img img {
  width: 100%;
}

.banner-text h1 {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--primary-text-color);
}

.banner-text p {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.7rem;
  color: var(--primary-text-color);
}
.banner-text button {
  border-radius: 29px;
}
.banner-text button i {
  margin-left: 7px;
}
/** banner area ends  */
/* logos area  */
section.logos-area {
  overflow: hidden;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
/** collections area  */
section.collection-area {
  padding-bottom: 50px;
}

section.collection-area h1 {
  text-align: center;
  font-size: 1.75rem;
  margin: 3rem;
  color: var(--primary-text-color);
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}

.card {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  border-radius: 7px;
}

.card img {
  width: 100%;
}

.card h3 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary-text-color);
  margin: 0.8rem 0;
}

h3.price {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  color: var(--primary-text-color);
}
.reviews p {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--third-text-color);
}

.card p {
  font-size: 0.875rem;
  padding: 3px 0;
  color: var(--third-text-color);
  font-weight: 700;
}
.reviews i {
  color: #fb8200;
  font-size: 0.7rem;
}

.card p span {
  margin-left: 11px;
}
.see-more-btn a {
  color: #e02c6d;
  font-weight: 700;
  font-size: 1rem;
}

.see-more-btn {
  text-align: right;
  padding-right: 30px;
  margin-top: 33px;
}

.see-more-btn a i {
  margin-left: 6px;
}
/** featured area  */
.featured-area {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0px;
}

.featured-img {
  width: 45%;
}

.featured-text {
  width: 55%;
}

.featured-img img {
  width: 100%;
}

.featured-text h1 {
  font-size: 2.375rem;
  color: #0a0826;
  font-weight: 700;
}

.featured-text p {
  padding: 20px 0;
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--third-text-color);
}
/** footer area  */
footer {
  background: #0a0826;
  color: #fff;
  padding: 50px 0px;
}

.footer-area {
  text-align: center;
}

.footer-area h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-area p {
  color: #d9dbe1;
  font-size: 0.875rem;
  padding: 4px 0px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  font-size: 1rem;
  margin-top: 15px;
}

.social-icon {
  width: 30px;
  height: 30px;
  background: #ffffff2e;
  border-radius: 50%;
  text-align: center;
}

.social-icon i {
  margin-top: 7px;
}
